<div class="container mt-4 shadow w-50 p-3">	
	<h2 class="lead">Add Comment</h2>
	<%= form_for ([@post,@post.comments.build]) do  |f|  %>
	  <p>
		<%= f.label :username %> <br>
		<%= f.text_field(:username, {:class => 'form-control shadow-sm'}) %>
	 </p>
	<p>
		<%= f.label :body %> <br>
		<%= f.text_area(:body,{:class => 'form-control shadow-sm'}) %>
	</p>
	<p>
	<%=f.submit({:class => 'btn btn-secondary'})  %>
	</p>
	<% end -%>
</div>