<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container w-50 ">
        <%=link_to "Blog Post", home_path, :class => "navbar-brand" %>
      <div class="d-flex justify-content-around">
        <div class="navbar-nav ">
        <li class="nav-item">
          <%=link_to "Home", home_path,:class => "nav-link" %>
        </li>
      </div>

      <div class="navbar-nav ml-4">
        <li class="nav-item">
           <%=link_to "Create post", new_post_path, :class => "nav-link" %>
        </li>
      </div>
        </div>
   
    </div>

</div>

<div class="container">
  <%= yield %>
</div>

    
  </body>
</html>
